* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#parent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img {
  width: 20px;
  column-gap: 500px;
}
#flag {
  display: flex;
  justify-content: center;
}

#options {
  display: flex;
  justify-content: space-around;
  max-width: 1024px;
  width: 100%;
  margin: 20px auto;
}

#woman {
  display: flex;
  justify-content: center;
  height: 700px;
}

#match {
  display: flex;
  column-gap: 16px;
  border-left: 1px solid black;
  padding-left: 16px;
}
#h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 40px;
}

#word {
  /* display: flex; */
  text-align: center;
  justify-content: space-between;
}
#two {
  background-color: #d9d9d9;
  padding: 10px;
}
#shop {
  background-color: black;
  color: white;
}
#place {
  margin-left: 200px;
  display: flex;
}

#designers {
  display: flex;
  margin-bottom: 69px;
}

#purple {
  width: 430px;
  height: 497px;
  top: 1753px;
  left: 80px;
}

#bag {
  width: 430px;
  height: 497px;
  top: 1753px;
  left: 730px;
}

#div {
  column-gap: 20px;
}

#dbags {
  display: flex;
  justify-content: center;
  column-gap: 302px;
  margin-bottom: 100px;
}

#vid {
  display: flex;
  justify-content: center;
}

#ic {
  display: flex;
  justify-content: center;
}

#min {
  margin-bottom: 363px;
}

#sect {
  margin-bottom: 180px;
}

#dust {
  display: flex;
  justify-content: space-between;
}

.dust1 {
  display: flex;
  justify-content: space-between;
}

#b {
  border-radius: 30px;
  background-color: pink;
  border: none;
  width: 300px;
  height: 60px;
}

/* Codes for option.html */

#mennwoman {
  margin-left: 100px;
  margin-top: 90px;
  display: flex;
  justify-content: center;
  text-align: center;
}
/* #womanmen {
  display: flex;
  column-gap: 16px;
} */

/* #womanmen > div > img {
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.5);
}

#mennwoman > div {
  transform: scale(1.1);
} */

/* #mennwoman > div:hover {
  opacity: 1;
  -webkit-box-reflect: below 0px
    linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)); */
/* } */

#bdy {
  background-color: salmon;
}

/* Codes for the gender page */

#choose {
  display: flex;
  justify-content: center;
}

.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 70%;
  height: 70%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70%;
  width: 70%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: azure;
}

.container:hover > .overlay {
  opacity: 1;
}

.text {
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* women's */
.containe {
  position: relative;
  width: 50%;
}

.imag {
  display: block;
  width: 70%;
  height: 70%;
}

.overla {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70%;
  width: 70%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: azure;
}

.containe:hover > .overla {
  opacity: 1;
}

.tex {
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#mentype {
  display: flex;
  justify-content: space-between;
  height: 400px;
  width: 400px;
}

#textum {
  display: flex;
  justify-content: space-around;
}

#womentype {
  display: flex;
  justify-content: space-between;
  height: 400px;
  width: 400px;
}

#textuw {
  display: flex;
  justify-content: space-around;
}

footer {
  background-color: #ede9e9;
  padding: 40px 20px;
}

.footer-container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.footer-container h1 {
  font-size: 24px;
  font-weight: 600;
}

.footer-container ul {
  display: block;
  margin-top: 30px;
  list-style: none;
  list-style-position: outside;
  padding: 0;
}

.footer-container li {
  margin: 10px 0;
  color: #252525;
  font-size: 14px;
}

.payments {
  display: block;
  margin-top: 30px;
}

.payments h2 {
  font-size: 18px;
  font-weight: 500;
}

.payment-platforms {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

#occasions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 20px;
  min-height: 100svh;
  background-color: bisque;
}
#occasions a {
  display: block;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 600;
  padding: 30px;
  background-color: thistle;
  color: #222;
  border-radius: 20px;
}
